.collection-item .userName {
    font-size: 1.4rem;
    font-weight: bold;
}

.collection-item .time {
    font-size: .7rem;
    line-height: 25px;
}

.collection-item .comment-body {
    white-space: pre-wrap;
}

.collection-item .likes {
    display: block;
}

.collection-item .likes-text {
    color: #283646;
}

.collection-item .thumbsUp {
    color: #f9aa33;
    cursor: pointer;
}