.userName {
    font-size: 1.4rem;
}

.body {

    font-size: 1.6rem;
}

.collection-item p {
    padding-top: 1rem;
} 

.likes {
    display: block;
}

.thumbsUp {
    padding: 1rem;
}

.likes-text {
    color: #283646;
}

i.fas,
i.far {
    color: #f9aa33;
    cursor: pointer;
}