.gridItemContainer span.isComplete {
    text-decoration: line-through;
    text-decoration-color: #344955;
}

.gridItemContainer .card {
    margin: 0;
    width: 100%;
}

.gridItemContainer {
    margin-bottom: 10px;
    color: #344955;
}

.gridItemContainer .actionButtonContainer {
    margin-top: 10px;
}

.gridItemContainer input[type="checkbox"]+span {
    font-size: 20px;
}

.editTodoInput {
    font-size: 20px !important;
}

.editTodoForm .input-field {
    margin: 0px;
}
