.show-on-small {
    margin: 1rem;
}

.show-on-medium-and-up {
    margin: 30px;
}

.toDoDetailText {
    font-size: 1.8em;
    padding-bottom: 20px;
}

.toDoPageContainer .container {
    width: 95%;
}