
.jumbotron {
    padding: 0px 12px 60px 12px;
    background-color: #D2DBDF;
    height: 50vh;
}

.jumbotron > div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.jumbotron h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 8.2vw;
    font-weight: 700;
    color: #232F34;
}

.jumbotron h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4vw;
    font-weight: 400;
    color: #232F34;
}
