
.jumbotron {
    padding: 10px 12px 10px 12px;
    background-color: #D2DBDF;
    height: 30vh;
    justify-content: center;
}

.jumbotron > div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.jumbotron h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: #232F34;
    font-size: 5em;
}

.jumbotron h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #232F34;
}
