.reactCardImage {
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
}


@media only screen and (max-width: 500px) {
    .horizontalCard {
        display: block !important;
    }

    .horizontalCard .card-action a {
        width: 100%;
    }

    .viewButton {
        margin-bottom: 15px;
    }

    /* .horizontalCard .card-image {
        max-width: 100% !important;
    }

    .horizontalCard img {
        width: 100% !important;
    } */
  }

