* {
    font-family: 'Work Sans';
}

h3 {
    text-align: center;
    max-height: 15vh;
    font-size: 1em;
    margin: 25px;
}

.show-on-small {
    font-size: 5vw;
    margin: 1rem;
    background-color: red;
}

.show-on-medium-and-up {
    margin: 30px;
    background-color: blue;
    font-size: 4vw;
    text-align: center;
}

.btn {
    color: #344955; 
}