
.card {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    align-items: center;
} 

.card-image {
    width: 95%;
}

.title {
    font-size: 25px;
    text-align: left;
    font-weight: 700;
}

.body {

    text-align: left;
    margin: 0 auto;
}

.author {
    padding-bottom: 20px;
    text-align: left;
    font-weight: 300;
}

.title > a {
    color: #344955;
    padding-bottom: 5px;
    border-bottom: 2px solid #F9AA33;
    text-transform: uppercase;
}
