

.postcard .card-image {
    width: 95%;
    padding-bottom: 20px;
}

.postcard .post-title {
    font-size: 25px;
    text-align: left;
    font-weight: 700;
}

.postcard .title > a {
    color: #344955;
    padding-bottom: 5px;
    border-bottom: 2px solid #F9AA33;
    text-transform: uppercase;
    line-height: 40px;
}

.postcard .postImageContainer, .postcard .postDetailPostPersonContainer {
    display: inline-block;
}

.postcard .postImageContainer {
    margin-right: 15px;
}

.postcard .postImage {
    width: 30px !important;
    background-color: white;
}

.postcard .postAuthor {
    font-weight: bold;
    font-size: .8rem;
}

.postcard .postDate {
    font-size: .7rem;
}

.postcard .body {
    white-space: pre-wrap;
}