.lockScreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(148, 146, 146, 0.9);
    z-index: 2000;
    display: none;
    align-items: center;
    justify-content: center;
}

.lockScreen div {
    font-size: 2.5rem;
    text-align: center;
}

.lockScreen i {
    font-size: 100px;
    margin-left: 2rem;
}

.lockScreen .preloader-wrapper {
    font-size: 100px;
    margin-left: 2rem;
}

.lockScreen .spinner-layer {
    border-color: #F9AA33;
}