#postDetailBackArrow i{
    margin-top: 30px; 
}

#postDetailBackArrow {
    color: #344955;
}

.comment-title {
    border-bottom: 2px solid #F9AA33;
    padding-bottom: 5px;
    text-transform: capitalize;
}

